:root {
    --black1: #333333;
    --white1: #f5f5f5;
    --white2: #e5e5e5;
    --blue: #0054ff;
    --green1: #80ff80;
    --green2: #66dc99;
}

body {
    color: var(--black1);
    font-family: "sans-serif";
    background-color: white;
    margin: 0 20%;
}

h1 {
    padding: 16px;
    background: linear-gradient(to right, var(--blue) 0%, var(--green1) 100%);
    color: white;
    border-radius: 8px;
    margin: 32px 0;
}

h2 {
    border-bottom: solid 4px var(--blue);
    border-image: linear-gradient(to right, var(--blue) 0%, var(--green1) 100%) 1;
}

h3:before {
    content: "＊";
    color: var(--blue);
}

code {
    background-color: var(--white2);
    padding: 4px;
    border-radius: 4px;
}